html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: "CraftworkGrotesk-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/CraftworkGrotesk-Regular.ttf");
  }
  @font-face {
    font-family: "CraftworkGrotesk-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/CraftworkGrotesk-Medium.ttf");
  }
  @font-face {
    font-family: "CraftworkGrotesk-SemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("fonts/CraftworkGrotesk-SemiBold.ttf");
  }
@font-face {
    font-family: "CraftworkGrotesk-Bold";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/CraftworkGrotesk-Bold.ttf");
  }
  
html{
    scroll-behavior: smooth;
    font-family: "CraftworkGrotesk-Regular";
    font-size: 16px;
    color: white;
}
body{
    background-color: #121212;
}
body::-webkit-scrollbar {
    display: none;
  }
  
.wrapper{
    max-width: 1440px;
    margin: 3rem auto;
    padding: 0 2rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
#logo{
    height: 4.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    background-color: rgba(83, 84, 86, .5);
    backdrop-filter: blur(2px);
    border-radius: 1.5rem;
    width: 700px;
    padding: 1rem 1rem;
}
nav .nav-point{
    white-space: nowrap;
    font-size: 1rem;
    text-decoration: none;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

#waves{
    width: 100%;
    scale: 1.25;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 25rem;
}

.main-logo-content{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 18rem; 
}
#main-label{
    width: 65%;
    margin-right: 1rem;
}
.send-app-btn{
    border: 1px solid white;
    background-color: rgba(83, 84, 86, .5);
    backdrop-filter: blur(2px);
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}


@media (max-width: 768px)  {
    header{
        flex-direction: column;
        justify-content: center;
        gap:0px;
    }
    nav{
        display: flex;
        width: 100%; 
        margin-top: 3rem;
    }
}
@media (max-width: 375px)  {
    html{
        font-size: 14px ;
    }
}
@media (max-width: 320px)  {
    html{
        font-size: 12px ;
    }
}
@media (max-width: 768px)  {
    .main-logo-content{
        margin-top: 10rem; 
    }
    .send-app-btn{
        padding: 0.5rem 1rem;
    }
}
@media (max-width: 600px)  {
    .main-logo-content{
        flex-direction: column;
        align-items: start;
        margin-top: 5rem; 
    }
    #main-label{
        width: 100%;
    }
    .send-app-btn{
        margin-top: 1rem;
    }
}

.service{
    margin-top: 40rem;
}
h1{
    margin: 3rem 0;
    color: #EE3F32;
    font-family: "CraftworkGrotesk-Semibold";
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
}
.service-products{
    display: flex;
    gap: 2rem;
}
.product img{
    position: relative; 
    max-height: 50rem;
}


#instrumental{

}
#vocal{

}

.phone-number-block {
    display: flex;
    justify-content: space-between;
}

.phone-number-block input {
    background-color: rgba(192, 192, 192, .1);
    border: 1px solid white;
    border-radius: 2rem;
}

.phone-number-block button{
    background-color: rgba(83, 84, 86, .5);
    backdrop-filter: blur(2px);
}







/* 

.services{
    margin-top: 35%;
    position: relative;
}

h1{
    margin-left: 12%;
    color: #EE3F32;
    font-family: "CraftworkGrotesk-Semibold";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
}

.service-products{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    margin-top: 8%;
}

.service-product-line{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 600px;
    position: relative;
    margin-bottom: 40px;
}

.service-product{
    width: 50%;
    position: relative;
    
}

.service-product-description-title{
    font-family: "CraftworkGrotesk-Bold";
    font-size: 20px;
}

.service-product-description-price{
    font-family: "CraftworkGrotesk-Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
      position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1;
}

.service-product-description-price big{
    font-family: "CraftworkGrotesk-Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
}

.service-product img{
    position: absolute;
    z-index: 1;
}

.flex-align-end{
    align-items: flex-end;
}

.flex-align-start{
    align-items: flex-start;
}

.margin-right-5{
    margin-right: 7%;
}

.margin-right-10{
    margin-right: 10%;
}

.margin-left-5{
    margin-left: 7%;
}

.margin-left-10{
    margin-left: 10%;
}

.service-product-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}
.service-product-description p {
    position: relative;
    z-index: 3;
}

.phone-number-block {
    display: flex;
    margin: 2% 120px 10% 120px;
    flex-direction: row;
    justify-content: space-around;
}

.phone-number-block input {
    background-color: rgba(192, 192, 192, .1);
    width: 800px;
    border: 1px solid white;
    border-radius: 30px;
    padding-left: 38px; 
}

.phone-number-block button{
    width: 500px;
    background-color: rgba(192, 192, 192, .2);
}

.team-images{
    margin: 0 80px 0 80px;
    margin-top: 8%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.team-small-margin-around {
    margin: 2% 2.5% 0px 2.5%;
}

.block-about {
    margin-top: 15%
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 150px 0 150px;
}

.about img {
    width: 650px;
    height: 570px;
}

.about p {
    font-size: 24px;
    margin-top: 0px; 
}


.block-about button {
    margin-top: 3%;
    width: 80%;
    height: 120px;
    font-size: 32px;
}

footer{
    margin-left: 10%;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.contacts{
    display: flex;
    flex-direction: column;
}

.contacts h1 {
    font-size: 32px;
    margin-left: 0px;
    margin-bottom: 150px;
    margin-top: 0px;
}

.contacts p {
    font-family: "CraftworkGrotesk-Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.contacts button {
    margin: 120px 0 120px 0;
    width: 120%

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -20%;
}
*/